@page "/counter"
<i class="bi-github " style="font-size:5rem" role="img" aria-label="GitHub"></i>
<h1>Counter</h1>
<i class="bi bi-123"></i>
<p>Current count: @currentCount</p>

<button class="btn btn-lg text-success bi-123" @onclick="IncrementCount"></button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
