@inherits LayoutComponentBase
<link href="../Shared/SpaceLayout.razor.css" rel="stylesheet" />
<header>
    <div class="navbar bg-primary">
        <SpaceNavMenu />
    </div>
</header>
@Body
@code {

}
